---
layout: "base.njk"
ogType: "article"
---
<article>
    <div class="article-hero">
        <h1>{{ title }}</h1>
        <p>Chester Jankowski, <em>B.Mus., Mus.M., Mus.Doc.</em></p>
    </div>
    <div class="article-text">
        {{ content | safe }}
    </div>
</article>
