<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>{{ title }}</title>
    <meta name="description" content="{{ description or 'Resources For Jazz Guitar' }}">
    <meta name="author" content="{{ author or 'Resources For Jazz Guitar' }}">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:type" content="{{ ogType or 'website' }}">
    <meta property="og:url" content="https://resourcesforjazzguitar.com{{ page.url }}">
    <meta property="og:image" content="https://resourcesforjazzguitar.com/assets/resources-jazz-guitar-cover-image.png">
    <link rel="shortcut icon" href="/favicon.png">
    <link rel="icon" href="/favicon.png">
</head>
<body>
    <header>
        {% include 'header.njk' %}
    </header>
    <main>
        {{ content | safe }}
    </main>
    <script>
        {% include 'script.njk' %}
    </script>
    <footer>
        {% include 'footer.njk' %}
    </footer>    
</body>
</html>