*{
    margin: 0;
    padding: 0;
}
body{
    max-width: 1200px;
    min-height: 100vh;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    font-family: Garamond, "Times New Roman", serif;
    font-size: 20px;
    display: flex;
    flex-direction: column;
}
nav{
    background-color: white;
    border-bottom: 1px solid gray;
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li{
    height: 100px;
}
nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #3345cc;
    font-weight: bolder;
    font-size: larger;
    letter-spacing: -0.5;
}
nav a:hover{
    text-decoration: underline;
}
nav li:first-child{
    margin-right: auto;
}
nav img{
    height: 48px;
    width: 48px;
    padding-right: 30px;
}
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.95);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}
.sidebar li{
    width: 100%;
    height: 50px;
}
.sidebar a{
    width: 100%;
    padding: -30px 0px -30px 30px;
}
.menu-button{
    display: none;
}
.two-column{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
.three-column{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}
.byline{
    font-size: smaller;
    color: black;
}
.byline a:link{
    color: black;
    text-decoration: none;
}
.byline a:visited{
    color: black;
    text-decoration: none;
}
.byline a:hover{
    color: black;
    text-decoration: underline;
}
figure{
    text-align: center;
    font-style: italic;
    font-size: smaller;
    margin-bottom: 1.5em;
}
figure p{
    line-height: 0;
    margin-bottom: 0;
}
img{
    width: 100%;
    height: auto;
}
.svg-icon{
    vertical-align: text-top;
}
h1{
    color: black;
    font-size: 42px;
    font-weight: normal;
    line-height: 1.2;
}
h2{
    color: black;
    font-size: 36px;
    font-weight: bolder;
    letter-spacing: -1px;
    line-height: 1.4;
}
p{
    line-height: 1.6;
    margin-bottom: 1.5em;
}
.post-list ul{
    list-style-type: none;
}
.post-list a{
    
}
.post-list a:link{
    color: black;
    text-decoration: none;
}
.post-list a:visited{
    color: black;
    text-decoration: none;
}
.post-list a:hover{
    color: black;
    text-decoration: underline;
}
.article-text{
    padding-top: 1em;
    border-top: 1px solid gray;
    max-width: 36em;
    margin: 1em auto 1em auto;
}
.article-text-small{
    font-size: 16px;
    line-height: 1.6;
}
.article-text a:link{
    color: #3345cc;
}
.article-text a:visited{
    color: #3345cc;
}
.article-text ul{
    list-style: inside;
    margin-bottom: 1em;
}
.article-text ol{
    list-style-position: inside;
    list-style-type: decimal;
    margin-bottom: 1em;
}
blockquote{
    padding-left: 1em;
    padding-right: 1em;
    border-left: 2px solid #0073aa;
}
footer{
    margin-top: auto;
    padding-top:  1em;
    border-top: 1px solid gray;
    font-size: 16px;
    padding-bottom: 0.5em;
}
footer ul{
    list-style-type: none;
}
footer a:link{
    color: #3345cc;
}
footer a:visited{
    color: #3345cc;
}
@media(max-width: 800px){
    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display: block;
    }
}
@media(max-width: 400px){
    .sidebar{
        width: 100%;
    }
    h1{
        color: black;
        font-size: 38px;
        font-weight: normal;
        line-height: 1.2;
    }
}