<div class="byline">
    <i class="fa-solid fa-user"></i>Chester Jankowski
    <i class="fa-solid fa-calendar"></i>{{ post.data.date | readableDate("LLLL d yyyy") }}
    <i class="fa-solid fa-folder"></i>
    {% for category in post.data.categories %}
        <a href="/categories/{{ category | slugify }}"> {{ category }}</a>
        {%- if not loop.last %}, {% endif %}
    {% endfor %}

    {% for tag in post.data.tags | filterTagList %}
    {% if loop.first %}
    <i class="fa-solid fa-tags"></i>
    {% endif %}
    <a href="/tags/{{ tag | slugify }}">{{ tag }}</a>
    {%- if not loop.last %}, {% endif %}
    {% endfor %}
</div>

