<hr>
<ul>
<li><a href="/">Resources For Jazz Guitar</a> • <a href="/feed/feed.xml">RSS</a></li>
<li>Written by humans for humans. • No ads, no trackers, no affiliate links, no pop-ups, no AI.</li>
<li>Built with <a href="http://11ty.dev">{{ eleventy.generator }}</a>
</ul>