<hr>
<a href="/">Resources For Jazz Guitar</a> • <a href="/feed/feed.xml">RSS</a><br>
Written by humans for humans. • No ads, no trackers, no affiliate links, no pop-ups, no AI.<br>
Built with <a href="http://11ty.dev">{{ eleventy.generator }}</a> • Contact: resourcesforjazzguitar at proton dot me<br>
