<a href="/"><img src="/assets/rfjg-logo-48.svg" alt="rfjg" height="48px" width="48px" eleventy:ignore></a>
<a href="/">Resources For Jazz Guitar</a>

<nav>
    <ul class="nav">
        <li class="nav-item"><a href="/about/">About</a></li>
    </ul>
</nav>