---
categories:
 - scales
 - music-theory
title: "All categories"
layout: "layouts/base.njk"
description: "List of blog categories."
eleventyExcludeFromCollections: "true"
permalink: "category/"
---

<h1>{{ title }}</h1>

<ul>
{% for category in categories %}

<li><i class="fa-solid fa-folder"></i> <a href="/category/{{ category }}/">{{ category }}</a></li>

{% endfor %}
</ul>