---
title: "Resources For Jazz Guitar"
layout: "layouts/base.njk"
eleventyExcludeFromCollections: "true"
description: "Music theory and practice materials for Jazz Guitar."
coverImage: "resources-jazz-guitar-cover-image.png"
---

<div class="post-list">
    <ol reversed class="postlist" style="--postlist-index: {{ (postslistCounter or postslist.length) + 1 }}">
        {% for post in collections.post | reverse %}
            <li><a href="{{ post.url }}" class="postlist-link">{{ post.data.title }}</a></li>
            {% include 'layouts/byline.njk' %}
            <br>
            {{ post.data.description }}
            <p></p>
        {% endfor %}
    </ol>
</div>

