---
title: "All tags"
layout: "layouts/base.njk"
description: "List of blog categories."
eleventyExcludeFromCollections: "true"
permalink: "/tag/"
---
<h1>{{ title }}</h1>

<ul>
{% for tag in collections | getKeys | filterTagList | sortAlphabetically %}
	{% set tagUrl %}/tag/{{ tag | slugify }}/{% endset %}
	<li><a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a></li>
{% endfor %}
</ul>
